{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    {% include 'dashboard/sidebar.html.twig' %}
        <div class="sm:ml-64">   
        <div class="flex items-center justify-center">
            <div class="bg-white shadow-lg rounded-lg p-8 w-full sm:max-w-md my-6">
                <form action="{{ path('admin_edit_category', { 'id': category.id }) }}" method="POST">
                    {{ form_start(form) }}
                    <div class="mb-6">
                        {{ form_label(form.name, 'Name', { 'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900'} }) }}
                        {{ form_widget(form.name) }}
                    </div>
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Update Category</button>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
