{% extends 'base.html.twig' %}

{% block title %}Categories management{% endblock %}

{% block body %}
    {% include 'dashboard/sidebar.html.twig' %}
        <div class="p-4 sm:ml-64">        
            <div class="flex justify-end mb-4">
            <a href="{{ path('admin_create_category') }}" class="inline-flex items-center px-4 py-2 font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700">
                Add New Category
            </a>
        </div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            {% if categories is empty %}
                <div class="text-center py-8">
                    <p class="text-gray-500 text-lg">No categories available.</p>
                </div>
            {% else %}
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Category ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ category.id }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ category.name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <a href="{{ path('admin_edit_category', {'id': category.id}) }}" class="font-medium text-blue-600 hover:underline">Edit</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{{ path('admin_delete_category', {'id': category.id}) }}" class="font-medium text-blue-600 hover:underline">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
